.img-div {
    height: 150px;
    width: 150px;
    border-radius: 6px;
    /* border: 1px solid; */
    display: block;
    margin: auto;
}
.img-div  img {
    width: 100%;
}
.MuiGrid-root.change-picture-div.MuiGrid-container.MuiGrid-align-items-xs-center.MuiGrid-justify-content-xs-center {
    margin-top: -30px;  
    color: #FFFFFF;
}
.profile-details-block, .notification-block {
    background-color: #FFFFFF;
    border-radius: 6px;
    padding: 30px;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.uv-input-width {
    width: 100%;
    margin-top: 0px !important;
}
.uv-input-width label, .gender-block .gender-label, .dobField label {
    font-size: 14px;
}
.uv-input-width.dName .MuiInputBase-input, 
.uv-input-width.about .MuiInputBase-input, 
.gender-block .MuiInputBase-input {
    padding: 6px 0 8px;
    color: #172849 !important;
    font-weight: 500;
}
.uv-input-width.dName, 
.uv-input-width.about, 
.gender-block,
.dob-inputField.dob {
    margin-bottom: 1rem !important;
}
.uv-input-width.dName .MuiInputBase-input {
    font-size: 20px;
}
.uv-input-width.about .MuiInputBase-input, 
.gender-block .MuiInputBase-input, 
.dob-inputField.dob .MuiInputBase-input, 
.uv-input-width.email .MuiInputBase-input {
    font-size: 16px;
}
.dobField .MuiInputBase-input {
    font-weight: 500 !important;
    font-size: 20px;
}
.dobField .label + .MuiInput-formControl, .dobField .MuiFormControl-root.MuiTextField-root.dobField {
    margin-top: 0px !important;
}
.dobField .MuiOutlinedInput-root.Mui-error .MuiOutlinedInput-notchedOutline {
    border-color: none !important;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.42);
    border-radius: 0;
}
.dobField .MuiOutlinedInput-input {
    padding: 6px 0 8px !important;
}
.dobField .MuiInputLabel-outlined.MuiInputLabel-shrink {
    transform: translate(1px, -12px) scale(0.75) !important;
}
.dobField .MuiInputLabel-outlined {
    transform: translate(1px, 9px) scale(1) !important;
}
.uv-input-width.email .MuiInput-underline.Mui-disabled:before {
    border-bottom-style: solid;
}
.button-block {
    float: right;
}
.button-block button {
    width: 100px;
    height: 43px;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    box-shadow: none;
    border: 1px solid #EF613B;
}
button.cancelBtn {
    border: 1px solid #EF613B;
    color: #EF613B;
    margin-right: 1rem;
}
.mbl-updateBtns {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0px;
    background: #FFFF;
}
.mbl-updateBtns button {
    width:40%;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    box-shadow: none;
    border: 1px solid #EF613B;
}
h4.notification-header {
    margin-bottom: 1rem !important;
    font-size: 18px;
    font-weight: 600;
}
.notification-line {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.notification-line h5 {
    font-size: 14px;
}
.profile-avatar-div {
    /* width: 150px;
    height: 150px; */
    display: block;
    margin: auto;
    border-radius: 6px;
}
.profile-avatar-div img {
    width: 100%;
    border-radius: 20px;
}
.updateprofile-avatar {
    height: 166px !important;
    width: 166px !important;
    border-radius: 6px !important;
}
.profile-avatar-div .MuiAvatar-root {
    border-radius: 6px !important;
    width: 166px !important;
    height: 166px !important;
}
.MuiGrid-root.changePhoto-text {
    position: absolute;
    z-index: 3;
    top: -42px;
    color: #FFFF;
    width: fit-content;
}
.profile-take-photo-label.profileText-info {
    display: flex;
    justify-content: center;
}
.notification-line .MuiSwitch-colorSecondary.Mui-checked + .MuiSwitch-track {
    background-color: #EF613B !important;
    width: 49px !important;
    height: 21px !important;
    border-radius: 10px !important;
    opacity: 1;
}
.notification-line .MuiSwitch-track {
    width: 49px !important;
    height: 21px !important;
    border-radius: 10px !important;
}
.notification-line .MuiSwitch-thumb {
    width: 16px !important;
    height: 16px !important;
    box-shadow: none !important;
    border-radius: 50% !important;
    background-color: #FFF !important;
    margin-top: 5.5px;
    margin-left: 5px;
}
.notification-line .Mui-checked .MuiSwitch-thumb {
    margin-left: 0px;
}
.updateProfile-section {
    padding: 30px;
    width: 100%;
    height: auto;
    margin-top: 3rem;
}
.MuiGrid-root.backArrow {
    display: flex;
    align-items: center;
}
.MuiGrid-root.backArrow  img {
    width: 6.5px;
    height: 13px;
}
.MuiGrid-root.backArrow p {
    font-size: 14px;
    color: #172849;
    font-weight: 600;
    text-transform: capitalize;
}

.MuiFormControl-root.gender-block {
    width: 94% !important;
}
.dob-inputField label + .MuiInput-formControl {
    padding-top: 1px !important;
}
.gender-block .MuiNativeSelect-select:focus {
    background-color: transparent;
}


@media screen and (max-width: 767px) {
    .updateProfile-section {
        padding: 0px;
        margin: 0rem !important;
    }
    .updateProfile-section .MuiGrid-root.MuiGrid-item {
        padding: 0 !important;
    }
    .profile-details-block, .notification-block {
        padding: 20px;
    }
    /* .MuiGrid-root.bob-field.MuiGrid-item {
        margin-top: 1.5rem;
    } */
}
@media screen and (max-width: 959px) {
    /* .MuiFormControl-root.gender-block {
        width: 100% !important;
    } */
    .MuiGrid-root.backArrow {
        display: none;
    }
}

.profile_image_cropper_btn_div {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 80px;
    background: #FFFFFF;
    box-shadow: 0px -2px 20px rgba(0, 0, 0, 0.1) !important;
    display: flex;
    align-items: center;
}
.profile_image-cropper-buttons {
    text-transform: capitalize !important;
    height: 43px !important;
}

@media screen and (min-width: 1024px) {
    .profile_image_cropper_btn_div {
        height: auto;
        position: static;
        box-shadow: none !important;
    }
}